<section class="row">

  <h1 class="col-xs-12">you are not {{user.username}}</h1>
  <form action="/login" method="post" class="col-xs-12">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username" placeholder="******" pattern="[A-Za-z0-9]{3, 20}" required="true"></input>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email" value="bob@bob.bob" pattern="[A-Za-z0-9]{3, 20}" required="true"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</section>
